* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_software{
 justify-content: center;
}

.software {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_form {
  justify-content: center;
  border-radius: 25px;
  background-color: #C4132A;
  margin-top: 30px;
  padding: 20px;
}

.verifica{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form_dimensione{
  height: 38px;
}


#all_ticket img {
  width: 270px;
}

.verifica .btn-danger {
  background-color: #006C67;
  margin-bottom: 15px;
}

label{
  color: white;
  font-weight: bold; 
}

